<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head')%>
 
    <title>Homepage</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="icon" href="/icon/blogIcon.png">
</head>

<body>

  <%- include('./partials/nav')%>
    <div class=" mt-2">
      <div class="mainCardContainer">
        <% blogs.reverse().forEach(blog=>{ %>
            <div class="cardContainer" >
              <img class="cardImg" src="<%=blog.coverImageURL%>"  alt="...">
              <div class="card-body">
                <h6 class="card-title">
                  <%=blog?.title?.slice(0,20)%> 
                </h6>
              
                  <%=blog?.body?.slice(0,40)%>..
                  <br>
              
                <a href="/blog/<%=blog._id%>" ><button class="btnStyle">view</button></a>
          
              </div>
          </div>

          <% }) %>
      </div>
    </div>

    <%- include('./partials/script')%>

</body>

</html>